<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>

	Main : {{content}}
	<hr>
	<start$>
		from flask import Flask, render_template
		import os
		def main():
			return render_template("home.html")
	<end$>


</body>
<script type="text/javascript">

var stx = <start$>
		_STRING_
		from flask import Flask, render_template
		import os
		def main():
			return "hi"
	<end$>
console.log(stx)

</script>
</html>